.gamePage {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin: 0px;
  padding-top: 40px;
  position: relative;

  @media (max-width: 780px) {
    padding-top: 4px;
  }
  min-height: 99svh;
  box-sizing: border-box;

  .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
  }
  .videoBackground {
    position: absolute;
    inset: 0;
    z-index: 0;
    margin: 0px;
    padding: 0px;
    height: auto;
    min-height: 100%;
    box-sizing: border-box;

    video {
      width: 100%;
      height: auto;
      min-height: 100%;
      object-fit: cover;
      opacity: 0.07;
      box-sizing: border-box;
    }
  }
  .content {
    position: relative;
    z-index: 1; 
    color: white;
  }
}
