.quizActive {
  display: flex;
  flex-direction: column;
  margin: 0 8px;
  h1 {
    font-size: clamp(36px, 9svh, 64px);
    align-self: center;
    margin-top: calc(-1 * clamp(4px, 6svh, 60px));
    margin-bottom: 0;

    @media (max-height: 700px) {
      font-size: clamp(24px, 9svh, 40px);
    }
  }
  .info {
    display: flex;
    justify-content: space-between;
    font-size: 24px;

    h3 {
      font-size: 20px;
      margin: clamp(8px, 2.5svh, 24px) 0;

      @media (max-height: 700px) {
        font-size: 16px;
      }
    }
  }
}
