.countryNameMain {
  padding-top: 60px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  min-height: 100svh;
  .content {
    max-width: 800px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
  }
  .videoBackground {
    position: absolute;
    inset: 0; /* shorthand for top/right/bottom/left:0 */
    /* fallback background color */
    z-index: 0;
    // min-width: 100vw;
    margin: 0px;
    padding: 0px;
    overflow: hidden;

    video {
      width: 100%;
      height: 100%;
      object-fit: cover; /* cover container */
      opacity: 0.07; /* 10% */
    }
  }
  .content {
    position: relative;
    z-index: 1; /* ensures text sits above video */
    color: white;
  }
  .country {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;

    .flagCont {
      position: relative;
      .flag {
        width: 80vw;
        max-width: 800px;
        border-radius: 40px;
        position: relative;
        display: inline-block;
        overflow: hidden;

        img {
          display: block;
          width: 100%; /* responsive */
          height: auto;
        }
      }
      .flag::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        height: 40%;
        background: linear-gradient(
          to top,
          rgba(0, 0, 0, 0.7) 0%,
          rgba(0, 0, 0, 0) 100%
        );
      }

      .likeBtn {
        position: absolute;
        right: 5%;
        bottom: 5%;
        z-index: 1;
        height: 60px;
        width: 60px;
        background: none;
        border: none;
        display: flex;
        justify-content: center;
        align-items: center;
        align-self: center;
        cursor: pointer;
        margin: 0px;
        transition: transform 0.3s ease;

        .heart {
          color: #ffffff;
          font-size: 35px;
          display: block;
          transform-origin: center center;
          padding-top: 5px;
        }
        .heartLiked {
          color: #eb0505;
          font-size: 35px;
          display: block;
          transform-origin: center center;
          padding-top: 5px;
        }

        &:hover {
          .heart,
          .heartLiked {
            animation: pulse 1.2s ease-in-out infinite alternate;
          }
        }
      }
      @keyframes pulse {
        from {
          transform: scale(1);
        }
        to {
          transform: scale(1.08);
        } /* adjust intensity */
      }

      /* Respect reduced-motion */
      @media (prefers-reduced-motion: reduce) {
        .pulse-wrap:hover .pulse-target {
          animation: none;
        }
      }
    }

    .middle {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 80vw;
      max-width: 800px;
      gap: 40px;
      padding-bottom: 20px;
      @media (max-width: 780px) {
        gap: 60px;
        flex-direction: column;
      }
      .info {
        align-self: flex-start;
        flex-direction: column;
        gap: 10px;
        width: 50%;
        // height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        box-sizing: border-box;
        @media (max-width: 780px) {
          width: 100%;
          align-items: center;
        }
        .infobox {
          width: 100%;
          height: 100%;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          align-items: flex-start;
          margin-top: 12px;
        }

        h2 {
          margin: 0px;
          line-height: 3rem;
          padding-bottom: 10px;
          font-size: 60px;
        }
        h3 {
          margin: 0px;
          font-weight: 600;
          display: flex;
          justify-content: space-between;
          width: 100%;
          align-items: baseline;
          span {
            // font-weight: 900;
            font-size: x-large;
            padding-right: 5px;
          }
        }
      }
      .mapLink {
        aspect-ratio: 1;
        width: 50%;
        overflow: hidden;
        border-radius: 20px;

        @media (max-width: 780px) {
          width: 80%;
        }

        .map {
          width: 100%;
          height: 100%;
          object-fit: cover;
          opacity: 0.9;
          &:hover {
            opacity: 1;
          }
        }
      }
    }
  }
  .neighborsSection {
    align-self: flex-start;
    width: 100%;

    h2 {
      text-align: start;
      font-size: 32px;
    }
    .neighbors {
      display: grid;
      grid-template-columns: 1fr;
      gap: 1rem;
      list-style: none;
      padding: 0;
      margin: 0;
      // @media (min-width: 1170px) {
      //   grid-template-columns: 1fr 1fr;
      // }
    }
    @media (min-width: 1170px) {
      .neighbors.twoCols {
        grid-template-columns: 1fr 1fr;
      }
    }
  }
}
// .fit-text {
//   font-weight: bold;
//   text-align: center;
//   color: black;
// }
