@import url('https://fonts.googleapis.com/css2?family=Fredoka:wdth,wght@75..125,300..700&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');
body {
    
    color: white;
    font-family: Fredoka, Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    background: #0b1124;
    display: flex;
    justify-content: center;
    
    
}
.backgroundContainer{
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    /* min-height: 100vh;
    min-width: 100vw; */
}


a {
    color: white;
    text-decoration: none;
}
ul {
    padding: 0px;
}
li {
    list-style: none
}
p {
    margin: 0px;
}