.mainPage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0px;
  padding: 0px;
  position: relative;
  min-height: 100svh;

  .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    // margin-top: 35px;
    box-sizing: border-box;
  }
  .logo {
    width: 150px;
    padding-bottom: 60px;
    display: inline-block;
    animation: floatY 3s ease-in-out infinite;
  }
  @keyframes floatY {
    0%,
    100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-10px); /* how far up it moves */
    }
  }

  .link {
    height: 35px;
    width: 230px;
    font-size: 25px;
    display: flex;
    gap: 5px;
    justify-content: flex-start;
    align-items: center;
    background: #1c2333;
    padding: 6px 16px;
    border-radius: 10px;
    &:hover {
      background: #252945;
      animation: pulse 1.2s ease-in-out infinite alternate;
      color: rgb(255, 214, 32);
    }
  }
  .videoBackground {
    position: absolute;
    inset: 0;
    z-index: 0;
    margin: 0px;
    padding: 0px;
    height: auto;
    min-height: 100%;
    box-sizing: border-box;

    video {
      width: 100%;
      height: auto;
      min-height: 100%;
      object-fit: cover;
      opacity: 0.07;
      box-sizing: border-box;
    }
  }
  .content {
    position: relative;
    z-index: 1; /* ensures text sits above video */
    color: white;
  }
}
@keyframes pulse {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.08);
  } /* adjust intensity */
}

/* Respect reduced-motion */
@media (prefers-reduced-motion: reduce) {
  .pulse-wrap:hover .pulse-target {
    animation: none;
  }
}
